spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookit?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: bookit
    password: bookit
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080
